<div class=" d-flex flex-row align-items-center justify-content-center m-auto" style="min-height: 90vh; direction: rtl">
  <mat-card class="my-card col-3" style="min-width: 500PX; min-height: 300PX">
    <mat-card-title class="persian d-flex justify-content-center text-center">عضویت شما تکمیل گردید!</mat-card-title>
    <mat-card-content class="persian text-center">
      <img src="../../../assets/images/verification.gif" />
      <p style="font-size: 20px;">
        عضویت شما در سامانه با موفقیت انجام شد. تایید حساب کاربری شما به وسیله پیامک به اطلاع شما خواهد رسید.
      </p>
    </mat-card-content>
  </mat-card>
</div>
