<div style="min-height: 90vh;">
  <mat-toolbar style="text-align:center" dir="rtl">
    <span>پروفایل</span>
  </mat-toolbar>
  <mat-card class="my-card">
    <mat-card-content dir='rtl'>
      <div class="info-badge" role="alert">
        <strong>نام </strong>: <strong>{{model.firstName}}</strong>
      </div>
      <div class="info-badge" role="alert">
        <strong>نام خانوادگی </strong>: <strong>{{model.lastName}}</strong>
      </div>
      <div class="info-badge" role="alert">
        <strong>شماره همراه </strong>: <strong>{{model.mobile}}</strong>
      </div>   
      <div class="info-badge" role="alert">
        <strong>نام کاربری </strong>: <strong>{{model.loginName}}</strong>
      </div>   
      <div class="info-badge" role="alert">
        <strong>جنسیت </strong>: <strong>{{model.genderText}}</strong>
      </div>   
      <div class="info-badge" role="alert">
        <strong>ایمیل </strong>: <strong>{{model.email}}</strong>
      </div>   
      <button style="margin-top: 5px;" mat-raised-button color="primary" (click)="edit()" class="submit-btn">ویرایش پروفایل</button>&nbsp;
    </mat-card-content>
  </mat-card>
</div>

