<div class="footer">
    <div class="container">
        <div class="footer-main">
            <div class="col-md-6 footer-right">
            </div>
            <div class="col-md-6 footer-left">
                <p class="footer-class"> کلیه حقوق مادی و معنوی برای سامانه ایده پرداز محفوظ می باشد </p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
</div>