<div class="m-auto">
  <mat-toolbar dir="rtl">
    <span>بازیابی رمز عبور</span>
  </mat-toolbar>
  <div class=" d-flex flex-row align-items-center justify-content-center">
    <mat-card class="my-card col-3">
      <mat-card-content dir='rtl'>
        <form class="my-form" #resetForm="ngForm">
          <mat-form-field class="d-flex flex-row align-items-center justify-content-center">
            <mat-label>شماره همراه</mat-label>
            <input matInput placeholder="شماره همراه" name="Mobile" [(ngModel)]="model.Mobile" required>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions dir='rtl'>
        <button [disabled]="!resetForm.form.valid" mat-raised-button (click)="reset()" class="btn btn-info persian">ارسال</button>
      </mat-card-actions>
    </mat-card>
  </div>
