<section class="d-flex flex-column"style="min-height:90vh">
        <div class="jumbotron jumbotron-fluid"style="direction:rtl">
                <div class="container">
                  <h1 class="display-4 text-right">پشتیبانی</h1>
                  <p class="lead text-justify"style="direction:rtl">خدمات پشتیبانی سامانه ایده پرداز یکی از مراحل اصلی چرخه‌ی حیات محصولات و پل ارتباطی پایدار ما با مشتریان است. در
                        سامانه ایده پرداز تلاش می‌کنیم تا بستر لازم برای استفاده‌ی کامل‌تر از راهکارها و امکانات نرم‌افزاری را برای
                        مشتریان فراهم کنیم.
                
                        افزون ‌بر خدمات پشتیبانی فنی سیستم‌ها، با بهره‌مندی از نسخه‌های به‌روز شده‌ی نرم‌افزارهای سامانه ایده پرداز، به‌
                        هنگام ایجاد هرگونه تغییر در قوانین جاری و مالیاتی کشور، تنظیمات لازم برای هماهنگی با این تغییرات در سیستم‌های
                        شما اعمال می‌شود و کارشناسان پشتیبانی ‌ برای پیاده‌سازی این تغییرات همراه شما هستند.</p>
                </div>
              </div>
    <section class="d-flex p-2 justify-content-center flex-wrap">
      <div class="card m-3" style="width: 25rem; direction:rtl">
        <img class="img-medium" src="../../../assets/images/f1.jpg" alt="">
        <div class="card-body">
          <h5 class="card-title text-right"style="direction:rtl">خدمات پشتیبانی سامانه ایده پرداز در یک نگاه</h5>
          <p class="card-text  text-justify"style="direction:rtl"> تحویل آخرین نسخه‌ی سیستم‌ها
            پاسخ به نیازهای کاربردی سیستمی
            پاسخ به نیاز آموزش‌های تکمیلی حین استفاده از سیستم‌ها
            طراحی گزارش‌ها و فرم‌های مورد نیاز کاربران
            ارائه‌ مشاوره‌ی تخصصی برای استفاده‌‌ی بهتر از سیستم‌ها
            بررسی تنظیمات پایگاه داده‌های مشتریان برای ارتقای عملکرد سیستم‌ها</p>
        </div>
      </div>
      <div class="card m-3" style="width: 25rem; direction:rtl">
            <img class="img-medium" src="../../../assets/images/f2.jpg" alt="" >
            <div class="card-body">
              <h5 class="card-title text-right"style="direction:rtl">بسته‌های ارائه‌ خدمات پشتيبانی</h5>
              <p class="card-text  text-justify"style="direction:rtl">  شيوه‌های ارائه خدمات‌ در سامانه ایده پرداز به ‌گونه‌ای طراحي شده است كه با مشورت همکاران ما، بتوانيد
                    با توجه به توان كاربران، سابقه‌‌ی دريافت خدمات و وضعيت مالی شركت، سبد مناسبی از خدمات را در قالب بسته
                    های قراردادی پايه، پرتال، صبح و عصر و نامحدود از کانال‌‌هايی مانند پرتال مشتريان، سرويس راه دور و تلفن
                    انتخاب كنيد</p>
            </div>
          </div>
      
    </section>

</section>
