<mat-toolbar style="text-align:center" dir="rtl">
  <span>اطلاعات تیکت</span>
</mat-toolbar>
<mat-card class="my-card" dir="rtl">
  <mat-card-content dir='rtl'>
    <form #createform="ngForm" class="my-form mydadrow" dir="rtl">
      <div class="my-row">
        <mat-form-field style="display: none;">
          <mat-label>سیستم</mat-label>
          <input matInput placeholder="سیستم" name="projectId" [(ngModel)]="model.projectId" required readonly />
        </mat-form-field>
        <app-config-select [label]="'سیستم'" [parentId]=5 [(selectedConfig)]="model.projectId"></app-config-select>
        <mat-form-field style="display: none;">
          <mat-label>اولویت</mat-label>
          <input matInput placeholder="اولویت" name="priorityId" [(ngModel)]="model.priorityId" required readonly />
        </mat-form-field>
        <app-config-select [label]="'اولویت'" [parentId]=4 [(selectedConfig)]="model.priorityId"></app-config-select>
        <mat-form-field style="display: none;">
          <mat-label>نوع تیکت</mat-label>
          <input matInput placeholder="نوع تیکت" name="typeId" [(ngModel)]="model.typeId" required readonly />
        </mat-form-field>
        <app-config-select [label]="'نوع تیکت'" [parentId]=3 [(selectedConfig)]="model.typeId"></app-config-select>
        <mat-form-field class="half-width-input">
          <mat-label>عنوان </mat-label>
          <input matInput placeholder=" عنوان " name="title" [(ngModel)]="model.title" />
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <mat-label>توضیحات</mat-label>
          <textarea matInput placeholder=" توضیحات " name="description" [(ngModel)]="model.description"></textarea>
        </mat-form-field>
        <mat-card-actions>
          <button class="submit-btn" mat-raised-button (click)="submitform()" color="primary"
            [disabled]="createform.form.invalid">ثبت</button>
        </mat-card-actions>
      </div>
    </form>
  </mat-card-content>
</mat-card>
