<mat-card >
  <mat-card-content
    class="">
    <mat-label class="" style="text-align:center;">
      <span class="text-white">request</span>
    </mat-label>
    <form class="">
      <div class="">

        <mat-form-field class="full-width">
          <mat-label> RequestId</mat-label>
          <input matInput placeholder=" RequestId" name="RequestId" [(ngModel)]="model.RequestId" class="text-dark"
            required>
        </mat-form-field>
        <!-- <app-project-select (selectedProject)="model.ProjectId"></app-project-select> -->

        <mat-form-field class="full-width">
          <mat-label> Note</mat-label>
          <input matInput placeholder=" Note" name="Note" [(ngModel)]="model.Note" class="text-dark"
            required>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label> Title</mat-label>
          <input matInput placeholder=" Title" name="Title" [(ngModel)]="model.Title" class="text-dark"
            required>
        </mat-form-field>
      </div>
      <mat-card-actions>
        <button mat-raised-button (click)="create()" class="bg-sazman text-white">Create</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
