<div class="fullpage">
  <mat-card-title class="persian">
      لیست درخواست ها
  </mat-card-title>
<div class="grid-wrapper">
<kendo-grid dir="rtl"
[data]="view | async"
[pageSize]="gridState.pageSize"
[skip]="gridState.skip"
[filter]="gridState.filter"
filterable="menu"
[pageable]="true"
[scrollable]="'none'"
(dataStateChange)="onStateChange($event)">
  <kendo-grid-column field="Title" title="عنوان"></kendo-grid-column>
  <kendo-grid-column field="RequestDate" title="تاریخ درخواست"></kendo-grid-column>
  <kendo-grid-column field="RequestBy" title="درخواست کننده"></kendo-grid-column>
  <kendo-grid-column field="Priority" title="اولویت"></kendo-grid-column>
  <kendo-grid-column field="Status" title="وضعیت"></kendo-grid-column>

  <kendo-grid-column  width="200">
      <ng-template kendoGridCellTemplate let-dataItem>
          <button kendoButton (click)="create(dataItem)" class="btn btn-default">پاسخ</button>
          <button kendoButton (click)="edit(dataItem)" class="btn btn-default">ویرایش</button>
          <button kendoButton (click)="delete(dataItem)" class="btn btn-default">حذف</button>
      </ng-template>
  </kendo-grid-column>
</kendo-grid>
<div *ngIf="loading" class="k-i-loading"></div>
</div>
</div>


