<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <a class="navbar-brand text-white" href="#">پشتیبانی ساپ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link text-white" routerLink="/" *notSigned>خانه</a>
        </li>
        <li class="nav-item dropdown" *signed>
          <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            اطلاعات پایه
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item text-white" routerLink="/personlist" *hasPermission="'adminmenu'">مدیریت اعضا</a>
            <a class="dropdown-item text-white" routerLink="/pharmacyproductlist">محصولات و داروهای من</a>
            <a class="dropdown-item text-white" routerLink="/productlist" *hasPermission="'adminmenu'">مدیریت محصولات سامانه</a>
            <a class="dropdown-item text-white" routerLink="/druglist" *hasPermission="'adminmenu'">مدیریت داروهای سامانه</a>
            <a class="dropdown-item text-white" routerLink="/configlist">تنظیمات</a>
          </div>
        </li>
      <li class="nav-item">
        <a class="nav-link text-white"  routerLink="/routine" *notSigned>نحوه کار</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white"  routerLink="/about" *notSigned>درباره ما</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/contact" *notSigned>تماس با ما</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item "*signed>
        <a class="nav-link text-white"routerLink="/profile" >پروفایل</a>
      </li>
      <li class="nav-item active"*notSigned>
        <a class="nav-link text-white" routerLink="/register">عضویت</a>
      </li>
      <li class="nav-item active"*notSigned>
        <a class="nav-link text-white" routerLink="/login">ورود</a>
      </li>
      <li class="nav-item active"*signed>
            <a class="nav-link text-white"  routerLink="/logout">خروج</a>
          </li>
    </ul>
  </div>
</nav>
