<mat-toolbar style="text-align:center" dir="rtl">
  <!-- <span>تایید عضویت</span> -->
</mat-toolbar>
<div class="grid-wrapper">
  <kendo-grid [data]="view | async" [pageSize]="gridState.take" [skip]="gridState.skip" [filter]="gridState.filter"
    filterable="menu" [pageable]="true" [scrollable]="'none'" (dataStateChange)="onStateChange($event)">
    <kendo-grid-column field="firstName" title="نام"></kendo-grid-column>
    <kendo-grid-column field="lastName" title="نام خانوادگی"></kendo-grid-column>
    <kendo-grid-column field="mobile" title="موبایل"></kendo-grid-column>
    <kendo-grid-column field="status" title="وضعیت کاربر" filterable=false></kendo-grid-column>
    <kendo-grid-column width="200">
      <ng-template kendoGridCellTemplate let-dataItem>
        <button *ngIf="dataItem.statusId == 7" kendoButton (click)="accept(dataItem.personId)"
          class="btn btn-default">تایید</button>
        <button *ngIf="dataItem.statusId == 10" kendoButton (click)="activate(dataItem.personId)"
          class="btn btn-default">فعال‌سازی</button>
        <button *ngIf="dataItem.statusId == 9" kendoButton (click)="deactivate(dataItem.personId)"
          class="btn btn-default">غیرفعال‌سازی</button>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column width="200">
      <ng-template kendoGridCellTemplate let-dataItem> 
        <button (click)="access(dataItem.personId)" mat-icon-button>
          <mat-icon>security</mat-icon>
          مدیریت دسترسی
        </button>
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>
  <div *ngIf="loading" class="k-i-loading"></div>
</div>