<div class=" d-flex flex-row align-items-center justify-content-center m-auto" style="min-height: 71vh;">
    <mat-card class="my-card col-3" style="min-width: 300PX;">
        <mat-card-title class="persian d-flex justify-content-center text-center">اعتبارسنجی</mat-card-title>
        <mat-card-content>
            <form #membershipForm="ngForm">
                <section class="d-flex flex-wrap  justify-content-center">
                    <mat-form-field class=" d-flex flex-row align-items-center justify-content-center">
                        <mat-label>کداعتبار سنجی </mat-label>
                        <input matInput placeholder="کد اعتبارسنجی" name="verification" [(ngModel)]="model.Code">
                    </mat-form-field>
                </section>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button (click)="varification()" class="btn btn-info persian">ارسال</button>
        </mat-card-actions>
    </mat-card>
</div>