<div class=" d-flex flex-row align-items-center justify-content-center m-auto" style="height: 71vh;">

    <mat-card class="my-card col-3" style="min-width: 300PX;">
        <mat-card-title class="persian d-flex justify-content-center">
            عضویت
        </mat-card-title>
        <mat-card-content>
            <form>
                <mat-form-field class=" d-flex flex-row align-items-center justify-content-center">
                    <mat-label>نام</mat-label>
                    <input matInput placeholder="نام" name="firstname" [(ngModel)]="model.firstname" required>
                </mat-form-field>
                <mat-form-field class=" d-flex flex-row align-items-center justify-content-center">
                    <mat-label>نام خانوادگی</mat-label>
                    <input matInput placeholder="نام خانوادگی" name="lastname" [(ngModel)]="model.lastname" required>
                </mat-form-field>
                <mat-form-field class=" d-flex flex-row align-items-center justify-content-center">
                    <mat-label>شماره همراه</mat-label>
                    <input matInput placeholder="شماره همراه" name="mobile" [(ngModel)]="model.mobile" required>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button (click)="register()" class="btn btn-info persian">عضویت</button>
        </mat-card-actions>
    </mat-card>
</div>