<div style="min-height: 90vh; direction: rtl;">
  <div class="d-flex justify-content-center flex-column align-items-center">
    <mat-card class="persian response-card m-1" *ngFor="let item of responses">
      <mat-card-header>
        <div mat-card-avatar class="response-header-image"></div>
        <mat-card-title>{{item.createBy}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="text-justify">
          {{item.note}}
        </p>
        <p class="text-left">
          {{item.responseShDate}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button class="persian" color="primary" (click)="delete(item.responseId)" mat-raised-button>حذف این گفتگو</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="my-row">
    <mat-form-field class="full-width-input">
      <textarea required [(ngModel)]="model.note" matInput placeholder="پیام شما"></textarea>
    </mat-form-field>
    <button style="margin-left: 10px; margin-bottom: 10px;" class="submit-btn" mat-raised-button (click)="submit()"
      color="primary">ثبت</button>
  </div>
</div>
