<div class=" d-flex flex-row align-items-center justify-content-center m-auto" style="min-height: 90vh; direction: rtl">
  <mat-card class="my-card col-3" style="min-width: 500PX; min-height: 300PX">
    <mat-card-title class="persian d-flex justify-content-center text-center">شما به این بخش دسترسی ندارید!
    </mat-card-title>
    <mat-card-content class="persian text-center">
      <img style="width: 500px;" src="../../../assets/images/access-denied.gif" />
      <p style="font-size: 20px;">
        جهت مشاهده وارد سایت شوید یا با مدیر سیستم تماس بگیرید
      </p>
    </mat-card-content>
  </mat-card>
</div>
