<mat-toolbar  style="text-align:center" dir="rtl">
  <span>تغییررمزعبور</span>
</mat-toolbar>
<mat-card class="my-card">
   <mat-card-content dir='rtl'>
      <form class="my-form">
         <mat-form-field class="full-width">
            <mat-label> رمزقبلی</mat-label>
            <input  matInput  placeholder="رمز قبلی " name="currentPassword" [(ngModel)]="model.currentPassword">
         </mat-form-field>
         <br>

         <mat-form-field class="full-width">
            <mat-label>رمزجدید</mat-label>
            <input  matInput  placeholder="رمزجدید" name="newPassword" [(ngModel)]="model.newPassword">
         </mat-form-field>
         <mat-form-field class="full-width">

          <mat-label>تکراررمزجدید</mat-label>
          <input  matInput  placeholder="تکراررمزجدید" name="newPassword2" [(ngModel)]="model.newPassword2">
       </mat-form-field>
      </form>
   </mat-card-content>
   <mat-card-actions dir='rtl'>
      <button mat-raised-button (click)="change()" color="primary">ارسال</button>
   </mat-card-actions>
</mat-card>